// 重置样式
@import 'variables.scss';

body,
html {
	font-family: Arial, sans-serif;
	font-size: 28upx;
	color: #333;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

// 输入框样式
input,
textarea,
select {
	font-size: 20upx;
	padding: 10upx;
	border: 1upx solid #ccc;
	border-radius: 8upx;
	width: 100%;
	&:focus {
		outline: none;
		border-color: $primary-color;
	}
}

// 按钮样式
.button {
	display: inline-block;
	padding: 10upx 20upx;
	text-align: center;
	border-radius: 8upx;
	text-decoration: none;
	transition: background-color 0.3s ease;
	background-color: $primary-color;
	color: white;
	font-size: 20upx;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: darken($primary-color, 10%);
	}
	&:disabled {
		background-color: #ccc;
		cursor: not-allowed;
	}
}

// 媒体查询，适应不同的屏幕尺寸
@media screen and (min-width: 1536upx) {
	body {
		font-size: 32upx;
	}
}
